<!-- Author: Aaron Antal-Bento ID: 23013693 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/Logo/fav-icon-light.png')}}" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/Logo/fav-icon-dark.png')}}" media="(prefers-color-scheme: dark)">
    <title>Pick a Journey Horizon Travels</title>
    <script src="https://kit.fontawesome.com/c66da8db21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/HTNavBarCSS.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/UserSignedIn.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/HTJourneysCSS.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/NavBarRWD.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/JourneysRWD.css')}}" />
</head>

<body>
    <!-- Navigation Bar -->
    <div class="topnav" style="z-index: 4;">
        <div class="dpmenu">
            <button class="btn" style=" clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 98%);
  "><i class="fa fa-bars"></i></button>
            <div id="keepActive"></div>
            <div class="content" style="margin-left: -152px;">
                <a class="navLinks" href="{{ url_for('managebookings') }}">Manage Bookings</a>
                <a class="navLinks" href="{{ url_for('about') }}">About</a>
                <a class="navLinks" href="{{ url_for('destinations') }}">Destinations</a>
            </div>
        </div>
        <a id="signIn" href="{{ url_for('signin') }}" aria-label="Sign in to your account">Sign In</a>
        <a id="manageaccount" href="{{ url_for('account') }}" aria-label="Manage your account"
            style="display: none;"><span id="usersname"></span></a>
        <a class="navLinks" href="{{ url_for('managebookings') }}" aria-label="Manage your bookings" style=" clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0% 93.5%);
  ">Manage Bookings</a>
        <a class="navLinks" href="{{ url_for('about') }}" aria-label="About Horizon Travels" style=" clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 92%);
">About</a>
        <a class="navLinks" href="{{ url_for('destinations') }}" aria-label="Destinations we go to" style=" clip-path: polygon(0 0, 100% 0, 100% 91.5%, 0% 88%);
  ">Destinations</a>
        <a class="left" id="home" href="{{ url_for('home') }}" aria-label="Home"><img
                src="{{ url_for('static', filename='styles/images/Logo/HTLogoSimple.png')}}" alt="Home"></a>
        <div id="navangledbg"></div>
    </div>

    <!-- Page Content -->
    <div class="pageContents">
        <button id="backbutton" onclick="goBack()"><i class="fa-solid fa-arrow-left"></i></button>

        <div id="journeyTypeHolder">
            <button class="journeyType" onclick="showPlaneJourneys()">Plane <span class="longerLable">Journeys </span><i
                    class="fa-solid fa-plane"></i></button>
            <button class="journeyType" onclick="showTrainJourneys()">Train <span class="longerLable">Journeys </span><i
                    class="fa-solid fa-train"></i></button>
            <button class="journeyType activeJourneyType" onclick="showAllJourneys()">All <span class="longerLable">Journeys </span><i
                    class="fa-regular fa-compass"></i></button>
        </div>
        <div class="verticalSeparatorLine"></div>
        <div id="selectionBarBg"></div>

        <div class="outer-section">
            <div id="journeys">
                {% for journeyDay in journeyWeek %}
                <div class="dateholder">
                    <div class="separatorLine" id="leftsidecentered"></div>
                    <h3 class="date">{{ journeyDay.DateString }}</h3>
                    <div class="separatorLine"></div>
                </div>
                {% if journeyDay.Journeys == [] %}
                <h3 class="nojourneys">No Journeys run today...</h3>
                {% elif journeyDay.Journeys[0].HasDeparted %}
                <button id="showdepartedbutton" onclick="toggleDepartedJourneys()" class="nojourneys">Departed journeys
                    <i id="showDepartedCheveron" class="fa-solid fa-chevron-right"
                        style="font-size: small;"></i></button>
                {% endif %}

                {% for journey in journeyDay.Journeys %}
                <div class="journeyholder {% if journey.HasDeparted %}hideDeparted{% endif %}" {% if journey.HasDeparted
                    %} id="journeyHasDeparted" {% endif %} data-type="{{ journey.CompanyID }}">
                    <div class="origindestholder">
                        <div class="cityHeading" id="originHolder">
                            <h2>{{ journey.Origin }}</h2>
                            <div style="z-index: 1; position: relative;">
                                <p> {{ journey.DepartureTime }} </p>
                            </div>
                        </div>
                        <div class="cityHeading">
                            <h2><i class="fa-solid fa-arrow-right"></i></h2>
                            <div style="z-index: 1; position: relative;">
                                {% if journey.CompanyID == 1 %}
                                <p><i class="fa-solid fa-plane"></i></p>
                                {% elif journey.CompanyID == 2 %}
                                <p><i class="fa-solid fa-train"></i></p>
                                {% endif %}
                            </div>
                            <p style="font-size: 13px; margin-top: 0px; position: absolute;"> {{ journey.JourneyDuration
                                }}
                            </p>
                        </div>
                        <div class="cityHeading" id="destinationHolder">
                            <h2>{{ journey.Destination }}</h2>
                            <div style="z-index: 1; position: relative;">
                                <p> {{ journey.ArrivalTime }} </p>
                            </div>
                        </div>
                        <div id="dashedline"></div>
                        {% if journey.HasDeparted %}
                        <p id="departed">Departed</p>
                        {% endif %}
                    </div>
                    <div id="totalprice">
                        <h1>£000.00</h1>
                    </div>
                    <div class="seatsholder">
                        <form action="{{ url_for('storebooking') }}" method="post">
                            <input type="hidden" name="journeyID" value="{{ journey.JourneyID }}">
                            <input type="hidden" name="journeydate" value="{{ journey.JourneyDate }}">
                            <input type="hidden" id="numseats" name="seats" value="{{ seats }}">
                            <label for="economyseats"><i class="fa-solid fa-ticket-simple"></i> <b>Standard ticket
                                    £{{ journey.StandardTicketPrice }}</b> <input type="radio" id="economyseats"
                                    name="seattype" data-price="{{ journey.StandardTicketPrice }}" value="Standard" checked
                                    onchange="updateButtonText(this.closest('.journeyholder'))"
                                    data-seatsleft="{{ journey.StandardSeatsLeft }}"><br><label
                                    id="seatsleft">{{ journey.StandardSeatsLeft }}
                                    seat{% if journey.StandardSeatsLeft != 1 %}s{% endif %}
                                    left</label></label>
                            <br>
                            <label for="businessseats" style="position: relative; top: -8px;"><i
                                    class="fa-solid fa-ticket"></i>
                                <b>First-class ticket £{{ journey.FirstClassTicketPrice }}</b> <input type="radio"
                                    id="businessseats" name="seattype" data-price="{{ journey.FirstClassTicketPrice }}"
                                    value="First class"
                                    onchange="updateButtonText(this.closest('.journeyholder'))"
                                    data-seatsleft="{{ journey.FirstClassSeatsLeft }}"><br><label
                                    id="seatsleft">{{ journey.FirstClassSeatsLeft }}
                                    seat{% if journey.FirstClassSeatsLeft != 1 %}s{% endif %}
                                    left</label></label>
                            <input class="bookticket" id="bookticket" type="submit"
                                value="Book {{ seats }} Standard tickets">
                        </form>
                    </div>
                    <div id="travelmethodicon">
                        {% if journey.CompanyID == 1 %}
                        <i class="fa-solid fa-plane"></i>
                        {% elif journey.CompanyID == 2 %}
                        <i class="fa-solid fa-train"></i>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/JourneyScripts.js')}}"></script>
</body>

</html>