<!-- Author: Aaron Antal-Bento ID: 23013693 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/Logo/fav-icon-light.png')}}" media="(prefers-color-scheme: light)">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='styles/images/Logo/fav-icon-dark.png')}}" media="(prefers-color-scheme: dark)">
    <title>Manage Bookings Horizon Travels</title>
    <script src="https://kit.fontawesome.com/c66da8db21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/HTNavBarCSS.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/UserSignedIn.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ManageBookingsCSS.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ManageBookingsRWD.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/NavBarRWD.css')}}" />
</head>

<body {% if frompage == 'expired' %} onload="showExpiredTickets()" {% endif %}>
    <!-- Navigation Bar -->
    <div class="topnav">
        <div class="dpmenu">
            <button class="btn" style=" clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 98%);
  "><i class="fa fa-bars"></i></button>
            <div id="keepActive"></div>
            <div class="content" style="margin-left: -153px;">
                <a class="navLinks" href="{{ url_for('home') }}" aria-label="Plan a Journey">Plan a Journey</a>
                <a class="navLinks" href="{{ url_for('about') }}">About</a>
                <a class="navLinks" href="{{ url_for('destinations') }}">Destinations</a>
            </div>
        </div>
        <a id="signIn" href="{{ url_for('signin') }}" aria-label="Sign in to your account">Sign In</a>
        <a id="manageaccount" href="{{ url_for('account') }}" aria-label="Manage your account"
            style="display: none;"><span id="usersname"></span></a>
        <a class="navLinks" href="{{ url_for('home') }}" aria-label="Plan a Journey"
            style=" clip-path: polygon(0 0, 100% 0, 100% 97.5%, 0% 93%);">Plan a Journey</a>
        <a class="navLinks" href="{{ url_for('about') }}" aria-label="About Horizon Travels" style=" clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 91%);
">About</a>
        <a class="navLinks" href="{{ url_for('destinations') }}" aria-label="Destinations we go to" style=" clip-path: polygon(0 0, 100% 0, 100% 90.5%, 0% 88%);
  ">Destinations</a>
        <a class="left" id="home" href="{{ url_for('home') }}" aria-label="Home"><img
                src="{{ url_for('static', filename='styles/images/Logo/HTLogoSimple.png')}}" alt="Home"></a>
        <div id="navangledbg"></div>
    </div>

    <!-- Page Content -->
    <div class="pageContents" id="MBPage">
        <div id="ticketsSection">
            {% if error == 'true' %}<p style="color: red;">An error occurred completing your request please try again.</p> {% endif %}
            <h1 style="margin: 10px 0px 10px 20px; background-color: white;">Your tickets</h1>
            <div id="journeys">

                {% if journeys == [] %}
                <h3 class="nojourneys journeyholder" style="box-shadow: none; border: none; margin-top: 20px;">You have no upcoming journeys...</h3> 
                <h3 class="nojourneys journeyholder hideDeparted" id="journeyHasDeparted" style="box-shadow: none; border: none; margin-top: 20px;">You have no previous journeys...</h3> 
                {% elif not journeys[0].HasDeparted %}
                <h3 class="nojourneys journeyholder hideDeparted" id="journeyHasDeparted" style="box-shadow: none; border: none; margin-top: 20px;">You have no previous journeys...</h3> 
                {% elif journeys[-1].HasDeparted %}
                <h3 class="nojourneys journeyholder" style="box-shadow: none; border: none; margin-top: 20px;">You have no upcoming journeys...</h3> 
                {% endif %}

                {% for journey in journeys %}
                <div class="journeyholder {% if journey.HasDeparted %}hideDeparted{% endif %}" {% if journey.HasDeparted
                    %} id="journeyHasDeparted" {% endif %} data-type="{{ journey.CompanyID }}">

                    {% if journey.Cancelled %}
                    <p style="color: red; position: absolute; text-align: left; margin: 5px; background-color: transparent; font-weight: bold;">Cancelled</p>
                    <br>
                    {% elif journey.HasDeparted %}
                    <p style="color: red; position: absolute; text-align: left; margin: 5px; background-color: transparent; font-weight: bold;">Expired</p>
                    <br>
                    {% endif %}

                    <div class="origindestholder">
                        <div class="cityHeading" id="originHolder">
                            <h2>{{ journey.Origin }}</h2>
                            <div style="z-index: 1; position: relative;">
                                <p> {{ journey.DepartureTime }} </p>
                            </div>
                        </div>
                        <div class="cityHeading">
                            <h2><i class="fa-solid fa-arrow-right"></i></h2>
                            <div style="z-index: 1; position: relative;">
                                {% if journey.CompanyID == 1 %}
                                <p><i class="fa-solid fa-plane"></i></p>
                                {% elif journey.CompanyID == 2 %}
                                <p><i class="fa-solid fa-train"></i></p>
                                {% endif %}
                            </div>
                            <p style="font-size: 13px; margin-top: 0px; position: absolute;"> {{
                                journey.JourneyDuration }}
                            </p>
                        </div>
                        <div class="cityHeading" id="destinationHolder">
                            <h2>{{ journey.Destination }}</h2>
                            <div style="z-index: 1; position: relative;">
                                <p> {{ journey.ArrivalTime }} </p>
                            </div>
                        </div>
                        <div id="dashedline"></div>
                    </div>

                    <div class="verticalDashedLine"></div>

                    <div id="bookingprice">
                        <h1>£{{ journey.PricePaid }}</h1>
                    </div>

                    <div style="margin: -30px 0px 5px 15px;">
                        <p id="infoText">{{ journey.DaysUntilJourney }} on the {{ journey.JourneyDate }}.</p>
                        <p id="infoText" style="font-size: small;">Booked on: {{ journey.BookingDate }}</p>
                        <p id="infoText" style="margin-top: 25px;">Booking reference: <span id="bookingRef">{{ journey.BookingRef }}</span></p>
                        <p id="infoText">Ticket for <u>{{ journey.SeatsBooked }} passenger{% if journey.SeatsBooked != 1
                            %}s{%endif%}</u> with {% if journey.SeatsBooked == 1 %}a{%endif%} <u>{{
                            journey.SeatType }} seat{% if journey.SeatsBooked != 1 %}s{%endif%}</u></p>
                    </div>

                    <div id="travelmethodicon">
                        {% if journey.CompanyID == 1 %}
                        <i class="fa-solid fa-plane"></i>
                        {% elif journey.CompanyID == 2 %}
                        <i class="fa-solid fa-train"></i>
                        {% endif %}
                    </div>

                    {% if journey.HasDeparted %}
                    <button class="bookticket delete" onclick="location.href='{{ url_for('removebooking', bookingID=journey.BookingID, frompage='expired') }}'">Remove</button>
                    {% elif journey.Cancelled %}
                    <button class="bookticket delete" onclick="location.href='{{ url_for('removebooking', bookingID=journey.BookingID, frompage='upcoming') }}'">Remove</button>
                    {% else %}
                    <button class="bookticket" style="right: 92px; font-size: 23px; padding: 12px;" onclick="location.href='{{ url_for('download_receipt', booking_id=journey.BookingID) }}'"><i class="fa-solid fa-download"></i></button>
                    <button class="bookticket delete" onclick="location.href='{{ url_for('cancelbooking', bookingID=journey.BookingID) }}'">Cancel</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="verticalSeparatorLine"></div>
        <div class="horizontalSeparatorLine"></div>

        <div class="sideBar" style="position: relative;">
            <button id="backbutton" onclick="goBack()"><i class="fa-solid fa-arrow-left"></i></button>
            <div id="JTHManage">
                <button class="journeyType {% if frompage == 'expired' %}activeJourneyType{% endif %}" onclick="showExpiredTickets()">Expired tickets</button>
                <button class="journeyType {% if frompage != 'expired' %}activeJourneyType{% endif %}" onclick="showUpcomingTickets()">Upcoming
                    journeys</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/JourneyScripts.js')}}"></script>
</body>

</html>