/* Author: Aaron Antal-Bento ID: 23013693 */
@media only screen and (max-width: 850px) {
    #contentHolder{
        flex-direction: column;
    }

    h1{
        margin-top: 10px;
        font-size: 40px;
    }
}