/* Author: Aaron Antal-Bento ID: 23013693 */
#journeys {
    margin: auto;
    margin-top: 250px;
    margin-bottom: 50px;
    width: 571px;
}

.outer-section {
    width: calc(100%-280px);
    margin-left: 280px;
    position: relative;
}

.journeyholder {
    position: relative;
    width: 571px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.origindestholder {
    width: fit-content;
    height: 120px;
}

.cityHeading {
    float: left;
    margin: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.cityHeading h2 {
    margin: 0px;
    font-size: inherit;
}

.journeyholder p {
    margin: 0px;
    margin-top: 5px;
    font-size: medium;
    text-align: center;
    background-color: white;
}

#destinationHolder p {
    float: right;
    border-left: solid 4px white;
}

#originHolder p {
    float: left;
    border-right: solid 4px white;
}

#dashedline {
    border-bottom: 2px dashed;
    position: relative;
    top: 63px;
    left: 38px;
    width: calc(100% - 50px);
}

#departed {
    color: red;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 95px;
    text-align: left;
    width: fit-content;
}

.seatsholder {
    width: 100%;
    margin: 15px;
    margin-top: 20px;
    font-size: 17px;
    height: 55px;
}

#originalprice {
    color: red;
    font-size: 13px;
}

#bookticket,
#hasdeparted {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 65px;

    background-color: #5298ef;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 10px 0px 5px 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#bookticket:hover {
    background-color: #4580c9;
    cursor: pointer;
}

#bookticket:disabled {
    background-color: #ababab;
    cursor: auto;
}

#hasdeparted:disabled {
    background-color: rgb(250, 75, 75);
    cursor: auto;
}

#seatsleft {
    font-size: 12px;
    position: relative;
    top: -6px;
    left: 24px;
}

#totalprice {
    position: relative;
    width: fit-content;
    float: right;
    right: 40px;
    bottom: 45px;
}

#totalprice h1 {
    font-size: 40px;
    margin: 0;
}

#travelmethodicon {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 40px;
}

#backbutton {
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 3;
    height: 42px;
    width: 56px;
    font-size: 25px;
    border: none;
    background-color: #eaeaea;
    transition: color 0.3s ease;
}

#backbutton:hover {
    background-color: #dcdcdc;
    font-size: 28px;
}

#journeyTypeHolder {
    position: fixed;
    left: 15px;
    top: 280px;
    width: 230px;
    z-index: 3;

    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
}

.journeyType {
    width: 100%;
    background-color: #5298ef;
    color: white;
    padding: 18px;
    border: 1px solid #333;
    margin-bottom: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.activeJourneyType {
    background-color: white;
    color: black;
    border: 5px solid #5298ef;
    padding: 14px;
}

.journeyType:hover {
    background-color: white;
    color: black;
    border: 5px solid #4580c9;
    padding: 14px;
    cursor: pointer;
}

.dateholder {
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}

.separatorLine {
    border: 3px solid rgb(44, 44, 44);
    border-bottom: 0px;
    flex-grow: 1;
    height: 0px;
    margin: auto;
    margin-left: 10px;
}

.verticalSeparatorLine {
    border: 1px solid rgb(177, 177, 177);
    border-right: 0px;
    height: 80%;
    position: fixed;
    left: 270px;
    top: 110px;
}

#leftsidecentered {
    margin-right: 10px;
    margin-left: 0px;
}

.date {
    margin: 0px;
    width: max-content;
    font-family: Arial, sans-serif;
}

.nojourneys {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: medium;
    color: #6f6f6f;
    font-weight: bold;
}

#showdepartedbutton {
    position: relative;
    margin: auto;
    margin-top: -15px;
    padding: 0px;
    height: fit-content;
    display: block;
    border: none;
    background-color: white;
}

#showdepartedbutton:hover {
    cursor: pointer;
    color: #000000;
}

input[type="radio"]:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.hideDeparted {
    display: none;
}

#selectionBarBg{
    position: fixed;
    width: 100%;
    height: 160px;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.longerLable{
    display: none;
}