/* Author: Aaron Antal-Bento ID: 23013693 */

/* colour palette: 
backing: white
background: middle:#f2fbff top:#e8f0ff bottom:#fff6f0
text: black
button text: white 
buttons: #5298ef
hovered buttons: light:#4580c9 dark:#3d71b0
dropdown backing: #fff
dropdown button hover: #eaeaea
borders: #333
*/

/* Home Page */
.homePage {
    line-height: normal;
}

.backgroundImage {
    position: absolute;
    background-image: url('Images/MainBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    height: 800px;
    width: 100%;
    top: 0px;
    z-index: -1;
}

/* Booking Section */
.booking {
    backdrop-filter: blur(80px) brightness(1.2);

    border-radius: 15px;
    border: 1px solid #333;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4px;
}

.bookingSelectionHolder {
    position: relative;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Buttons and Drop Downs */
.dropbtn,
#search {
    background-color: #5298ef;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    height: fit-content;
    text-align: left;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#search {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    margin-left: 4px;
    border-radius: 15px;
}

.dropdown-content .dropdowncontentbutton {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: left;
    border: none;
    background-color: white;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content .dropdowncontentbutton:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

#passengerselect .dropdowncontentbutton {
    text-align: center;
}

.dropdown:hover .dropbtn,
#search:hover,
#dateselector:hover {
    background-color: #4580c9;
    cursor: pointer;
}

.dropdown:hover .dropinput, .dropinput:focus {
    border-color: #4580c9;
    outline: none;
}

.dropinput {
    color: black;
    padding: 14.3px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    height: fit-content;
    text-align: left;
    background-color: #f2fbff;
    border: 3px solid #5298ef;
    transition: border-color 0.3s ease, color 0.3s ease;
}

/* Date Selector */
.datepicker-native-input {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}

#dateselector {
    position: relative;
}

.datepicker-native-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

#passengerselect.dropdown-content {
    min-width: 80px;
}

/* Bottom section */
.bottombg {
    background-color: #fff6f0;

    box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.4),
        0px 10px 18px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    inset: 0px;
    top: 682px;
    z-index: -1;
    height: 1291px;

    -webkit-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    transform: skewY(1deg);
}

.destinationdisplay {
    position: absolute;
    inset: 0px;
    top: 684px;

    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

.separatorLine {
    border: 1px solid rgb(177, 177, 177);
    border-bottom: 0px;
    width: 93%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

#buttonicon {
    position: absolute;
    right: 16px;
    top: 17px;
    font-size: 25px;
}

#search #buttonicon {
    position: relative;
    float: right;
    font-size: 10px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.promotion h1,
.promotionh1 {
    text-align: right;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: Bebas Neue;
    font-weight: normal;
    font-size: 40px;
    color: #444;
    line-height: 1;
    text-shadow: 3px 3px 0px #33333344;
}

.promotion p {
    text-align: right;
    font-size: 1.2em;
    line-height: 1;
    margin: 0;
    color: #555;
}

.promotion p span {
    display: block;
    margin-bottom: 0.3em;
}

.fade {
    box-shadow: 4px 4px 0px #3333334c;
}

#pageBottom {
    height: fit-content;
    width: 100%;
    position: absolute;
    inset: 0px;
    top: 1720px;

    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}


footer {
    padding: 20px;
    padding-bottom: 5px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1 1 200px;
    /* grow, shrink, basis */
    margin: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.644);
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: white;
    text-decoration: underline;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column .footer-disp {
    width: fit-content;
    margin-right: auto;
    margin-left: 10px;
    text-align: left;
}

.footer-column li {
    margin-bottom: 8px;
}

.footer-column a {
    text-decoration: none;
    color: white;
}

.footer-column a:hover {
    text-decoration: underline;
    color: rgb(231, 232, 255);
}

#cookieConsentHolder {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* When visible, reset the transform and opacity */
#cookieConsentHolder.visible {
    transform: translateY(0);
    opacity: 1;
}


#cookieConsentBanner {
    position: relative;
    margin: auto;
    max-width: 65%;
    min-width: 430px;
    background: #404040;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 8px;
}

#cookieConsentBanner button {
    padding: 10px 20px;
    color: white;
    margin: 0 10px;
    background-color: #5298ef;
    border: none;
}

#cookieConsentBanner button:hover {
    cursor: pointer;
    background-color: #4580c9;
}